<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="SpringBrasil" version="2.5">
	<display-name>Spring Forum</display-name>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>/**</url-pattern>
			<el-ignored>false</el-ignored>
		</jsp-property-group>
	</jsp-config>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/spring-servlet.xml
			/WEB-INF/spring/spring-data.xml
			/WEB-INF/spring/spring-security.xml
		</param-value>
	</context-param> 

	<!-- Configuração do filtro básico da aplicação para o Spring Security -->
	<filter>
		<!-- O nome do filtro é importante:
		ele aponta para o nome de um bean de mesmo nome que será criado internamente pelo
		Spring Security para lidar com a segurança de requisições. -->
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
 
	<!-- O Dispatcher Servlet do Spring -->
	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- Por padrão o Servlet Dispatcher do Spring busca por um arquivo de 
			configuração chamado [nome do servlet]-servlet.xml dentro do diretório /WEB-INF. 
			Abaixo está uma chave de configuração que nos permite customizar o arquivo 
			base aonde iniciamos a configuração dos nossos beans dentro do projeto -->
		
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/spring-servlet.xml</param-value>
		</init-param>
		
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- O servlet é mapeado como o principal do projeto. -->
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>



</web-app>
